@if (state==="initial") {
<form [formGroup]="passwordRecoveryForm" (ngSubmit)="submit()">
  <div class="title"><h1>Password Recovery</h1></div>
  <div class="body">
    <input type="text" formControlName="email" placeholder="Enter your email" />
    <button type="submit">Submit</button>
    <small>&#9432; Password reset link will be sent to your email !</small>
  </div>
</form>
} @if (state==="sent") {
<form>
  <div class="title"><h1>Email Sent!</h1></div>
  <div class="body">
    Please check your email at {{ passwordRecoveryForm.value.email }}.
    <a class="back-to-login" routerLink="/login">Back to login</a>
  </div>
</form>
}
